

/* general  */

body {
    background-color: hsl(30, 54%, 90%);
    font-family: 'Young Serif', serif;
}


.container {
    padding: 30px;
}

.recipe {
    background-color: white;
    color: hsl(30, 10%, 34%);
    font-family: "Outfit";
    text-align: left;
    margin-bottom: 40px;

}



h1 {
    color: black;
}

h2 {
    color: hsl(14, 45%, 36%);
}

.prep_time {
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 5px; /* زوايا دائرية */
}

.prep_time h3 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 10px;
}

.prep_time ul {
    color: hsl(30, 10%, 34%);
}

.prep_time li::marker {
    color: hsl(332, 51%, 32%);
}

li::marker {
    color: hsl(14, 45%, 36%);
}

hr {
    border: none;
    height: 1px;
    background-color: hsl(30, 18%, 87%);
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-table td {
    font-size: 16px;
    padding: 8px 10px;
    border-top: 1px solid hsl(30, 18%, 87%);
}

.nutrition-table .highlight {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.nutrition-table tr:first-child td {
    border-top: none; /* إزالة الخط العلوي للصف الأول */
}

.attribution {
    text-align: left;
}


/* moible view */
@media (max-width: 375px) {
    body {
        width: 375px;
    }
    
    .recipe {
        /* code */

    }
    
    .container-img {
        width: 100%;
    }
    



    .attribution {
        display: none;

    }
}

/* desktop view */
@media (min-width: 500px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px;
        
    }

    .recipe {
        border-radius: 30px; 
        padding: 30px;
        margin: 50px ; 
        max-width: 650px;
    }

    .container-img {
        width: 100%;
        border-radius: 12px;
    }



}
